trigger:
- main

pool:
  name: Default

variables:
  imageName: webwander
  acrLoginServer: wanderlustacr.azurecr.io
  tag: latest

steps:
# Step 1: Install Node.js
- task: NodeTool@0
  inputs:
    versionSpec: '20.x'
  displayName: 'Install Node.js'

# Step 2: Install dependencies & build frontend
- script: |
    cd frontend
    npm install
    npm run build
  displayName: 'Install dependencies and build frontend'

# Step 3: Build and push Docker image to ACR
- task: Docker@2
  inputs:
    containerRegistry: 'wandercn'   # <- exact service connection name
    repository: $(acrLoginServer)/$(imageName)
    command: buildAndPush
    Dockerfile: frontend/Dockerfile
    buildContext: frontend
    tags: $(tag)
